<div class="container">
  <h1>Floppy Bunny Notes App</h1><hr>
  <h2>Please log in:</h2>
  <form action="/user" method="get">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password_hash"></p>
    <input type="submit" value="Login">
  </form><hr>

</div>


