<h2>Welcome to your notes main page User ID <%= @user_id %></h2><hr>
<h2>These are your notes:</h2>
<% @notes.each do |note| %>
<p><a href='/notes/<%= note.id %>'><%= note.created_at %></a></p>
<% end %>
<hr>
<h2>Add a note:</h2>
<form action="/notes/new" method="put">
  <p>Content: <input type="Content" name="content"></p>
  <input type="submit" >
</form>

