<h2>Welcome to Bunny Notes! Please create an account:</h2>
  <form action="/user" method="get">
    <p>First Name: <input type="text" name="first_name"></p>
    <p>Last Name: <input type="text" name="last_name"></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password_hash"></p>
    <input type="submit" value="Create Account"
  <form action="/user" method="post">